/**
 * This file is part of the FOSCommentBundle package.
 *
 * (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.fos_comment_thread_show {
    margin-top: 2em;
    padding: 1em 20px;
    width: 472px;
    background: #f0f0f0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}
.fos_comment_comment_show {
    color: #555;
}
.fos_comment_comment_metas {
    margin: 1.5em 0 0.5em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px !important;
}

.fos_comment_comments .fos_comment_comments {
    margin-left: 2em;
}
.fos_comment_comment_reply {
    text-align: left;
}
.fos_comment_comment_reply.replying {
    text-align: right;
    margin-top: 1em;
    padding: 1em 20px;
    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_comment_reply_show_form {
    font-size: 0.8em;
}
.fos_comment_comment_reply.fos_comment_replying button.fos_comment_comment_reply_show_form {
    display: none;
}
.fos_comment_thread_comments {
    margin-bottom: 1.5em;
}
.fos_comment_reply_prototype {
    display: none;
}
.fos_comment_thread_show > form.fos_comment_comment_form {
    margin-bottom: 1em;
}
form.fos_comment_comment_form.processing {
    opacity: 0.5;
}
form.fos_comment_comment_form label.author_name {
    margin-top: 3px;
    float:left;
}
form.fos_comment_comment_form label.author_name input {
    padding: 2px 5px;
}
form.fos_comment_comment_form textarea {
    width: 98%;
    height: 6em;
    padding: 1%;
}
form.fos_comment_comment_form.error textarea {
    border-color: red;
}
.fos_comment_form_errors {
    color: #ff0000;
}
.fos_comment_submit {
    text-align: right;
}

a.fos_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}
.fos_comment_comment_voting {
    float: right;
}
.fos_comment_comment_score {
    display: inline-block;
}

#fos_comment_thread{
	padding: 20px;
	padding-top: 10px;
}
.fos_comment_comment_replies{
	padding-left: 15px;
}
.fos_comment_submit input{
	font-size: 14px !important;
    line-height: 0px;
    padding: 3px 12px;
    margin-top: 3px;
}

.fos_comment_comment_depth_0{
	border: 1px solid;
    /* background-color: #edfaff; */
    margin-bottom: 5px;
    padding: 3%;
    border-radius: 10px;
	text-align: justify;
}

.fos_comment_comment_body {
    line-height: 1.5em;
    font-size: 15px;
}
.fos_comment_comment_form_holder h3{
	font-size: 14px;
	line-height: 0px;
}

#fos_comment_comment_body{
	min-height: 50px;
}