{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="fos_comment_comment_form_holder">
    <form class="fos_comment_comment_edit_form" action="{{ url('fos_comment_put_thread_comments', {'id': comment.thread.id, 'commentId': comment.id}) }}" method="POST">

        {% block fos_comment_form_fields %}
            {{ form_errors(form) }}
            {{ form_errors(form.body) }}
            {{ form_widget(form.body) }}
            {{ form_rest(form) }}
        {% endblock %}

        <div class="fos_comment_submit">
            <button type="button" class="fos_comment_comment_edit_cancel">{% trans %}COMMENT_EDIT_CANCEL{% endtrans %}</button>
            {% block fos_comment_form_submit %}
                <input type="submit" value="{% trans %}COMMENT_EDIT_SUBMIT{% endtrans %}" class="mdl-button mdl-js-button mdl-js-ripple-effect"/>
            {% endblock %}
        </div>

    </form>
</div>
