{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set first = first|default(false) %}

{% set url_parameters = {'id': id } %}
{% if parent is not null %}
    {% set url_parameters = url_parameters|merge({'parentId': parent.id}) %}
{% endif %}

{% block fos_comment_comment_form_holder %}
    <div class="fos_comment_comment_form_holder">
        {% block fos_comment_form_title %}
            {% if first %}
                <h3>{% trans %}COMMENT_NEW_HEADLINE{% endtrans %}</h3>
            {% elseif parent is not null %}
                <h3>{% trans %}COMMENT_REPLY_REPLY_TO{% endtrans %} {{parent.author.firstName }}</h3>
            {% else %}
                <h3>{% trans %}COMMENT_NEW_HEADLINE{% endtrans %}</h3>
            {% endif %}
        {% endblock %}

        {% block fos_comment_comment_new_form %}
            <form class="fos_comment_comment_new_form" action="{{ url('fos_comment_post_thread_comments', url_parameters) }}" data-parent="{{ parent.id|default() }}" method="POST">

                {% block fos_comment_form_fields %}
                    <div class="fos_comment_form_errors">
                    {{ form_errors(form) }}
                    {{ form_errors(form.body) }}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_widget(form.body, { 'attr': {'class': 'mdl-textfield__input'} }) }}
                    </div>
                    {{ form_rest(form) }}
                {% endblock %}

                <div class="fos_comment_submit">
                    {% block fos_comment_form_submit %}
                        {% if parent is not null %}
                            <input type="button" value="{% trans %}COMMENT_REPLY_CANCEL{% endtrans %}" class="fos_comment_comment_reply_cancel mdl-button mdl-js-button mdl-js-ripple-effect" />
                        {% endif %}
                        <input type="submit" value="{% trans %}COMMENT_NEW_SUBMIT{% endtrans %}" class="mdl-button mdl-js-button mdl-js-ripple-effect"/>
                    {% endblock %}
                </div>

            </form>
        {% endblock fos_comment_comment_new_form %}

    </div>
{% endblock fos_comment_comment_form_holder %}
