{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<form class="fos_comment_comment_form" action="{{ url('fos_comment_post_threads') }}" method="POST">

    {% block fos_comment_form_fields %}
        {{ form_errors(form) }}
        {{ form_errors(form.id) }}
        {{ form_widget(form.id) }}
        {{ form_errors(form.permalink) }}
        {{ form_widget(form.permalink) }}

        {{ form_rest(form) }}
    {% endblock %}

    <div class="fos_comment_submit">
        {% block fos_comment_form_submit %}
            <input type="submit" value="{% trans %}COMMENT_NEW_SUBMIT{% endtrans %}" class="mdl-button mdl-js-button mdl-js-ripple-effect"/>
        {% endblock %}
    </div>

</form>
