{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="fos_comment_vote_form_holder">
    <form class="fos_comment_vote_form" action="{{ url('fos_comment_post_thread_comment_votes', {'id': id, 'commentId': commentId}) }}" data-score-holder="fos_comment_score_{{ commentId }}" method="POST">

        {% block fos_comment_form_fields %}
            {{ form_errors(form) }}
            {{ form_errors(form.value) }}
            {{ form_widget(form.value) }}

            {{ form_rest(form) }}
        {% endblock %}

        <div class="fos_comment_submit">
            {% block fos_comment_form_submit %}
                <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect"/>
            {% endblock %}
        </div>

    </form>
</div>
